<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container-fluid div1">
    <p>Copyright © 2019 Department of Technology,Savitribai Phule Pune University
        
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-skype"></a>
        <a target="_blank" href="https://www.facebook.com/dotsppu" class="fa fa-facebook"></a>
        <a target="_blank" href="https://www.linkedin.com/school/department-of-technology-savitribai-phule-pune-university/" class="fa fa-linkedin"></a>
    </p>
</div>