.div {
  background: black;
  color: white;
  height: 50px;
}
p {
  text-align: center;
  padding-top: 10px;
}
.fa {
  padding: 8px;
  font-size: 12px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 2px 1px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

a {
  float: right;
}
