<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<nav
  class="navbar navbar-default"
  data-spy="affix"
  data-offset-top="500"
  style="margin:0;border:0;"
>
  <div class="container-fluid" style="background-color:  #b1920a; width: 100%;">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar1"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" style="background-color: white"></span>
        <span class="icon-bar" style="background-color: white"></span>
        <span class="icon-bar" style="background-color: white"></span>
      </button>
      <a
        class="navbar-brand"
        routerLink="/"
        style="color:white;padding-top:15px;padding-left:6px"
        >Home
      </a>
    </div>
    <div id="navbar1" class="navbar-collapse collapse">
      <ul class="nav navbar-nav"></ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/about" style="color:white">
            <div class="dropdown">
              <p class="dropbtn">About DoT</p>
            </div>
          </a>
        </li>
        <!-- <li><a>|</a></li> -->
        <li>
          <a style="color:white" class="vl">
            <div class="dropdown">
              <p class="dropbtn">Research <i class="fa fa-caret-down"></i></p>

              <div class="dropdown-content">
                <a routerLink="#">Domains/PDF</a>
                <li class="dropdown-submenu">
                  <a routerLink="#">Grants</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">CIS</a></li>
                    <li><a href="#">RUSA</a></li>
                    <li><a href="#">TI</a></li>
                    <li><a href="#">DIC</a></li>
                    <li><a href="#">IDDAC</a></li>
                  </ul>
                </li>
              </div>
            </div>
          </a>
        </li>
        <!-- <li><a>|</a></li> -->
        <li>
          <a routerLink="/academics" class="vl" style="color:white">
            <div class="dropdown">
              <p class="dropbtn">Academics <i class="fa fa-caret-down"></i></p>

              <div class="dropdown-content">
                <a routerLink="/courses">Courses</a>
                <a routerLink="/faculty">Faculty</a>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a routerLink="/news" class="vl">
            News
          </a>
        </li>
        <li>
          <a routerLink="/feedback" class="vl">
            Feedback
          </a>
        </li>
        <li>
          <a routerLink="/contactus" class="vl">
            Contact Us
          </a>
        </li>
        <li *ngIf="!auth.isLoggedIn()">
          <a routerLink="/login" class="vl"> LogIn</a>
        </li>
        <li>
          <a style="color:white" class="vl"> {{ today | date: "fullDate" }}</a>
        </li>
        <li *ngIf="auth.isLoggedIn()">
          <a routerLink="/admin" style="color:white">
            {{ auth.getUserDetails()?.name }}</a
          >
        </li>
        <li *ngIf="auth.isLoggedIn()">
          <a routerLink="#" (click)="auth.logout()" style="color:white"
            >Logout</a
          >
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>
