div,
a {
  color: white;
}

img {
  width: 70%;
  height: 70%;
}

div.background {
  background-image: url('/assets/TechD.png');
  background-repeat: no-repeat;
  background-size: cover;
}

div.transbox {
  height: 300px;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
