<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<div>
  <div style="text-align:center " class="background">
    <div class="transbox">
      <div
        style="padding-top:1%;padding-bottom:1%;  font-family:'Segoe UI';"
        class="footer-bottom-area bg-dark-light section-padding-sm"
      >
        <h3>
          <b style="border-bottom: 2px solid ;width:100px;">Contact Us</b>
        </h3>
        <p>
          Department of Technology<br />
          Savitribai Phule Pune University, Ganeshkhind Road,
          <br />
          Pune - 411 007 Maharashtra State, India.
        </p>
        <br />

        <div style="align-content:center">
          <span
            class="glyphicon glyphicon-phone-alt"
            style="font-size:25px"
          ></span
          >&nbsp;&nbsp;&nbsp;&nbsp;<b
            style="border:1px solid;padding-top: 8px;padding-bottom: 8px;padding-left: 5px;padding-right: 5px;display: inline-block"
            >+ 91-020-25601270/71/25690055</b
          >&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-envelope" style="font-size:25px"></i
          >&nbsp;&nbsp;&nbsp;&nbsp;<b
            style="border:1px solid;padding-top: 8px;padding-bottom: 8px;padding-left: 5px;padding-right: 5px;display: inline-block"
            ><a href="mailto:hodtechnology@unipune.ac.in" target="_top"
              >hodtechnology@unipune.ac.in</a
            ></b
          >
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
