h3,
h4 {
  text-align: left;
  color: rgb(39, 145, 211)
}

li {
  text-align: left;
  font-size: 15px;
  word-spacing: 3px
}

p {
  text-align: left;
  font-size: 16px;
  word-spacing: 3px
}

ol {
  counter-reset: item;
}

ol li {
  display: block;
}

ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  font-weight: bold;
}
