<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<div class="container-fluid" style="background-image: url('./assets/te.jpg')">
  <div style="text-align:center">
    <div>
      <div style="padding-top:1%; font-family:'Segoe UI';">
        <h3>
          <b style="border-bottom: 2px solid ;width:100px;">Contact Us</b></h3>
        <p> Department of Technology<br>
          Savitribai Phule Pune University,
          Ganeshkhind Road,
          <br>
          Pune - 411 007
          Maharashtra State,
          India.
        </p>
        <br>

        <div style="align-content:center">
          <span class="glyphicon glyphicon-phone-alt" style="font-size:25px"></span>&nbsp;&nbsp;&nbsp;&nbsp;<b
            style="border:1px solid;padding-top: 8px;padding-bottom: 8px;padding-left: 5px;padding-right: 5px;display: inline-block">+
            91-020-25601270/71/25690055</b>&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-envelope" style="font-size:25px"></i>&nbsp;&nbsp;&nbsp;&nbsp;<b
            style="border:1px solid;padding-top: 8px;padding-bottom: 8px;padding-left: 5px;padding-right: 5px;display: inline-block"><a
              href="mailto:hodtechnology@unipune.ac.in" target="_top" style="color: black">hodtechnology@unipune.ac.in</a></b>

        </div>
        <br>
      </div>
    </div>
  </div>
</div> 
</div>-->

<div class="container-fluid">
<h3 class="text-center">Contact Us</h3>
<p style="border-bottom: 2px solid rgb(98, 152, 196);"></p>
<br>
<!-- <hr> -->
<div id="map-container-google-2" class="z-depth-1-half map-container">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.3825249377273!2d73.82560674937045!3d18.556785372849582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf411680e78b%3A0x5cf574abc8d57cba!2sDepartment%20Of%20Technology!5e0!3m2!1sen!2sin!4v1571381231925!5m2!1sen!2sin" width="100%" height="370" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
<div class="row text-center" style="background: rgb(228, 226, 226)">
  <div class="col-md-4 vl">
      <a href=""><i class="fa fa-phone fa-3x"></i>
      <h4>Phone</h4>
      <p>91-020-25601270/71/25690055</p>
      <br>
      <br></a>
    </div>
    <div class="col-md-4 vl">
      <a href=""><i class="fa fa-home fa-3x"></i>
      <h4>Address</h4>
      <p> Department of Technology<br>
        Savitribai Phule Pune University,
        Ganeshkhind Road,
        <br>
        Pune - 411 007
        Maharashtra State,
        India.
      </p></a>
    </div>
    <div class="col-md-4 vl">
      <a href="mailto:hodtechnology@unipune.ac.in"><i class="fa fa-envelope fa-3x"></i>
      <h4>E-mail</h4>
      <p>hodtechnology@unipune.ac.in</p>
      <br>
      <br></a>
    </div>
</div>
</div>  
<br>


