h3{
  color: rgb(8, 8, 180)
}

hr {border-bottom: 1px solid #000; width:30%;}

a {color: #000;}

a:link{text-decoration:none;}

.box1{background: rgba(177, 245, 179, 0.6);}
.box2{background: rgb(192, 192, 200, 0.6);}
.box3{background: rgba(177, 245, 179, 0.6);}



#author a{
  color: #fff;
  text-decoration: none;
    
}

h3,
h4 {
 
  color: rgb(8, 83, 129);
}


.vl {
  border: 1px dotted black;
  /* height: 175px; */
  /* margin-left:1px; */
 
}