<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div class="container back">
    <div class="row">
      <div class="col-md-6">
        <h1 class="form-signin-heading">Sign In</h1>
        <p class="lead">
          Not a member? Please
          <b><a routerLink="/register">register</a></b> instead.
        </p>

        <form (submit)="login()" #userForm="ngForm" novalidate>
          <div class="form-group">
            <label for="email">Email Id:-</label>

            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Enter email"
              [(ngModel)]="credentials.email"
              #Email="ngModel"
              aria-haspopup="true"
              title=" Enter valid email id"
              required
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            />
            <div
              *ngIf="Email.invalid && Email.touched"
              style="font-size:13px; color: red"
              class="radius has-tip tip-top"
            >
              <div *ngIf="Email.errors.required">Email is Required</div>
              <div *ngIf="Email.errors.pattern">
                Email not valid and format should be<i>eg. abc@gmail.com</i>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password:-</label>
            <input
              type="password"
              class="form-control"
              name="NameOfInstitute"
              placeholder="Password"
              [(ngModel)]="credentials.password"
              [ngModelOptions]="{ standalone: true }"
              #NameOfInstitute="ngModel"
              aria-haspopup="true"
              title=" password must be atleast 8 characters"
              required
              passwordToggle
              pattern="[a-zA-Z0-9]*"
              minlength="8"
            />
            <div
              *ngIf="NameOfInstitute.invalid && NameOfInstitute.touched"
              style="font-size:13px;color:red"
              class="radius has-tip tip-top"
            >
              <div *ngIf="NameOfInstitute.errors.required">
                Password is Required
              </div>
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!userForm.form.valid"
          >
            Sign In
          </button>
          <br />
          <br />
        </form>
      </div>
    </div>
  </div>
</body>
<!-- <app-footer></app-footer> -->
