


.con{
 padding: 2px;
 background-color:honeydew;
 height:997px;
 position: relative;
}  

h3{
    margin-bottom: 5%;
    margin-top: 3%;
    text-align: center;
    color: #0062cc;
}


body{
    padding-top: 50px ;
    padding-bottom:50px;
    font-family: 'Segoe UI';
}

.back{
    background-color:lightgrey;
    height: 70%;
}