.left {
  padding-left: 50%;
}

body {
  padding-top: 25px;
  padding-bottom: 25px;
}
img {
  height: 100px;
}

h4 {
  color: rgb(20, 139, 168);
}

.col {
  background: rgb(218, 216, 216);
  width: 50%;
  /* height: 30px; */
  margin-left: 20%;
  padding-top: 5px;
  padding-left: 10px;
}

.home {
  background-image: url("/assets/main.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  background-size: 100% 100%;
  background-position: center center;
}

/* .modal-content h5{
  color: rgb(3, 3, 78)
} */
