<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- <div class="container home"></div> -->
<div class="container">
  <h4>Faculty Details</h4>
  <p style="border-bottom: 2px solid rgb(98, 152, 196)"></p>
  <br />
  <br />
  <div class="col-md-12" style="padding-left: 5%">
    <div class="row">
      <div class="col-md-6">
        <div
          class="row"
          style=" box-shadow: 7px 7px 7px 5px rgb(211, 211, 211);width:80%"
        >
          <div class="card">
            <img
              src="assets/faculty.png"
              style="float: left; margin: 0px 15px 15px 12px;"
              width="100"
            />
            <h5 class="card-title"><b>Dr.Aditya Shankar Abhyankar</b></h5>
            <p class="card-text">HOD,Professor<br /></p>
            <a
              data-toggle="modal"
              data-target="#myModal"
              style="color: rgb(15, 15, 184)"
              >View Profile</a
            >
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog modal-sm-6" style="margin-top:100px;">
                <div class="modal-content">
                  <div
                    class="modal-header"
                    style="background: rgb(209, 209, 209)"
                  >
                    <button type="button" class="close" data-dismiss="modal">
                      &times;
                    </button>
                    <h5 class="modal-title" style="color: rgb(3, 3, 78)">
                      <b>Dr.Aditya Shankar Abhyankar</b>
                    </h5>
                  </div>
                  <!-- <div class="modal-body"> -->
                  <img
                    src="assets/faculty.png"
                    style="float: left; margin: 5px 15px 15px 12px;"
                    width="100"
                  />
                  <h6>
                    <p>
                      <label style="padding-right: 30px">Designation:</label
                      >HOD<br /><label>Contact Number:</label><br /><label
                        >Email:</label
                      ><br />
                      <label>Qualification:</label><br /><label
                        >Total Experience:</label
                      >
                    </p>
                  </h6>
                  <!-- </div> -->
                  <div
                    class="modal-footer"
                    style="background: rgb(243, 243, 243)"
                  >
                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div
          class="row"
          style=" box-shadow: 7px 7px 7px 5px rgb(211, 211, 211);width:80%"
        >
          <div class="card">
            <img
              src="assets/Vandana1.png"
              style="float: left; margin: 0px 15px 15px 12px;"
              width="100"
            />

            <h5 class="card-title"><b>Dr.Smt.Vandana D Dhingra</b></h5>

            <p class="card-text">
              Assistant Professor<br />Ph.D.-Computer Science & Engineering,
              M.Tech-Information Technology, B.E.-Computer Science and
              Engineering <br /><a
                data-toggle="modal"
                data-target="#myModal3"
                style="color: rgb(15, 15, 184)"
                >View Profile</a
              >
            </p>

            <div class="modal fade" id="myModal3" role="dialog">
              <div class="modal-dialog modal-lg" style="margin-top:100px;">
                <div class="modal-content">
                  <div
                    class="modal-header"
                    style="background: rgb(209, 209, 209)"
                  >
                    <button type="button" class="close" data-dismiss="modal">
                      &times;
                    </button>
                    <h5 class="modal-title" style="color: rgb(3, 3, 78)">
                      <b>Dr.Smt.Vandana D Dhingra</b>
                    </h5>
                  </div>
                  <!-- <div class="modal-body"> -->
                  <img
                    src="assets/Vandana1.png"
                    style="float: left; margin: 5px 15px 15px 12px;"
                    width="100"
                  />
                  <div
                    style="width:auto;height:auto;overflow:scroll;overflow-y:hidden;overflow-x:hidden;"
                  >
                    <p>
                      <label style="padding-right: 10px">Designation:</label
                      >Associate Professor<br />
                      <label style="padding-right: 10px">Qualification:</label
                      >Ph.D, M.Tech, B.E <br />
                      <label>Research Interests:</label> Information Retrieval,
                      Text & Web Mining, Semantic Web, Ontology.<br />
                      She is having experience of teaching to Postgraduate and
                      Graduate Engineering candidates for past 21 Years .
                      <br />She has taught in Vaish College of Engineering,
                      CITM, Apeejay College of Engineering(ACE) Gurgaon and was
                      Head of Department of CSE Department in ACE. <br />She has
                      done her Ph.D. in Information Retrieval Model for Semantic
                      Web. <br />She has published research papers in various
                      reputed international and national journals and
                      conferences. <br />Her subjects of Interest include
                      Operating Systems, Distributed Operating Systems, Semantic
                      Web, Web Mining, Information Retrieval, Text Mining .
                      <br />Her research interests are Semantic Web, Ontologies
                      and Text Mining.
                    </p>
                  </div>
                  <!-- </div> -->
                  <div
                    class="modal-footer"
                    style="background: rgb(243, 243, 243)"
                  >
                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div
          class="row"
          style=" box-shadow: 7px 7px 7px 5px rgb(211, 211, 211);width:80%"
        >
          <div class="card">
            <div class="card-body">
              <img
                src="assets/beena.png"
                style="float: left; margin: 3px 15px 15px 12px;"
                width="100"
              />

              <h5 class="card-title"><b>Smt.Beena Sandeep Limkar</b></h5>
              <p class="card-text">
                Assistant Professor<br />M.Tech.-Machine Design,B.E.-Mechanical
                Engineering <br /><a
                  data-toggle="modal"
                  data-target="#myModal4"
                  style="color: rgb(15, 15, 184)"
                  >View Profile</a
                >
              </p>
              <div class="modal fade" id="myModal4" role="dialog">
                <div class="modal-dialog modal-lg" style="margin-top:100px;">
                  <div class="modal-content">
                    <div
                      class="modal-header"
                      style="background: rgb(209, 209, 209)"
                    >
                      <button type="button" class="close" data-dismiss="modal">
                        &times;
                      </button>
                      <h5 class="modal-title" style="color: rgb(3, 3, 78)">
                        <b>Smt.Beena Sandeep Limkar</b>
                      </h5>
                    </div>
                    <!-- <div class="modal-body"> -->
                    <img
                      src="assets/beena.png"
                      style="float: left; margin: 5px 15px 15px 12px;"
                      width="100"
                    />
                    <div
                      style="width:auto;height:auto;overflow:scroll;overflow-y:hidden;overflow-x:hidden;"
                    >
                      <p>
                        <label style="padding-right: 30px">Designation:</label
                        >Associate Professor<br />

                        <label>Qualification:</label>M.Tech.-Machine
                        Design,B.E.-Mechanical Engineering<br />Currently she is
                        pursuing her doctorate at Department of Technology,
                        Savitribai Phule Pune University under the tutelage of
                        Dr. G. S. Chandekar from MKSSS's Cummins College of
                        Engineering For Women, Pune. <br />Her research area is
                        into Mechanical Vibrations. <br />She is focusing on
                        defining quality of musical instruments using measurable
                        parameters extracted using vibrations. <br />Her other
                        research areas are Energy harvesting from mechanical
                        vibrations, Random vibrations, Mesh-less algorithms in
                        stress analysis, Microfluidics and application of
                        Modeling and Simulation for physical systems. <br />She
                        also has more than 18 years of industrial experience
                        apart from 3 years of academic experience.
                      </p>
                    </div>

                    <!-- </div> -->
                    <div
                      class="modal-footer"
                      style="background: rgb(243, 243, 243)"
                    >
                      <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
      </div>
      <div class="col-md-6">
        <div
          class="row"
          style=" box-shadow: 7px 7px 7px 5px rgb(211, 211, 211);width:80%"
        >
          <div class="crad">
            <div class="card-body">
              <img
                src="assets/Nandi2.png"
                style="float: left; margin: 0px 15px 15px 12px;"
                width="100"
              />

              <h5 class="card-title"><b>Shri.Somnath Subalchandra Nandi</b></h5>
              <p class="card-text">
                Associate Professor<br />Ph.D.-Chemical
                Engineering,M.E.-Chemical Engineering, B.Tech.-Chemical
                Engineering<br /><a
                  data-toggle="modal"
                  data-target="#myModal2"
                  style="color: rgb(15, 15, 184)"
                  >View Profile</a
                >
              </p>

              <div class="modal fade" id="myModal2" role="dialog">
                <div class="modal-dialog modal-lg" style="margin-top:100px;">
                  <div class="modal-content">
                    <div
                      class="modal-header"
                      style="background: rgb(209, 209, 209)"
                    >
                      <button type="button" class="close" data-dismiss="modal">
                        &times;
                      </button>
                      <h5 class="modal-title" style="color: rgb(3, 3, 78)">
                        <b>Shri.Somnath Subalchandra Nandi</b>
                      </h5>
                    </div>
                    <!-- <div class="modal-body"> -->
                    <img
                      src="assets/Nandi2.png"
                      style="float: left; margin: 5px 15px 15px 12px;"
                      width="100"
                    />

                    <div
                      style="width:auto;height:auto;overflow:scroll;overflow-y:hidden;overflow-x:hidden;"
                    >
                      <p>
                        <label style="padding-right: 10px">Designation:</label
                        >Associate Professor<br />
                        <label style="padding-right: 10px">Qualification:</label
                        >Ph.D.-Chemical Engineering,M.E.-Chemical Engineering,
                        B.Tech.-Chemical Engineering<br />The Doctoral Research
                        was conducted under tutelage of Dr. B.D. Kulkarni at
                        National Chemical Laboratory (NCL) Pune with JRF-SRF
                        Scholarship from CSIR, New Delhi. <br />Expertise and
                        exposure of Dr. Nandi includes application of Modeling
                        and Simulation for Chemical and Biochemical systems,
                        application of Artificial Intelligence based
                        methodologies, Process Optimization and Green
                        Technologies. <br />He was a faculty member of
                        Maharashtra Institute of Technology (MIT) Pune for more
                        than 12 years.<br />
                        Dr. Nandi is associated with some of the industry
                        partners namely Thermax, Praj etc. on collaborative
                        research for relevant technological developments and
                        presently guiding 2 Prime Minister’s Fellows for their
                        Doctoral Research in association with industry mentors.
                        <br />
                        He has authored more than 50 research articles in
                        various International and National Journals and
                        Conferences, also contributed 6 book chapters. He is
                        reviewer of some of the most reputed International
                        Journals of Chemical Engineering and allied fields.
                      </p>
                    </div>
                    <!-- </div> -->
                    <div
                      class="modal-footer"
                      style="background: rgb(243, 243, 243)"
                    >
                      <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />

        <div
          class="row"
          style=" box-shadow: 7px 7px 7px 5px rgb(211, 211, 211);width:80%"
        >
          <div class="card">
            <div class="card-body">
              <img
                src="assets/faculty.png"
                style="float: left; margin: 0px 15px 15px 12px;"
                width="100"
              />

              <h5 class="card-title"><b>Shri.Swapnil Chhatrapati Kamble</b></h5>
              <p class="card-text">
                Assistant Professor<br />Ph.D.-Biotechnology, M.Sc.Biotechnology
                <br /><a
                  data-toggle="modal"
                  data-target="#myModal5"
                  style="color: rgb(15, 15, 184)"
                  >View Profile</a
                >
              </p>
              <div class="modal fade" id="myModal5" role="dialog">
                <div class="modal-dialog modal-sm-6" style="margin-top:100px;">
                  <div class="modal-content">
                    <div
                      class="modal-header"
                      style="background: rgb(209, 209, 209)"
                    >
                      <button type="button" class="close" data-dismiss="modal">
                        &times;
                      </button>
                      <h5 class="modal-title" style="color: rgb(3, 3, 78)">
                        <b>Shri.Swapnil Chhatrapati Kamble</b>
                      </h5>
                    </div>
                    <!-- <div class="modal-body"> -->
                    <img
                      src="assets/faculty.png"
                      style="float: left; margin: 5px 15px 15px 12px;"
                      width="100"
                    />

                    <p>
                      <label style="padding-right: 30px">Designation:</label
                      >Associate Professor<br /><label>Contact Number:</label
                      ><br /><label>Email:</label><br />
                      <label>Qualification:</label><br /><label
                        >Total Experience:</label
                      >
                    </p>

                    <!-- </div> -->
                    <div
                      class="modal-footer"
                      style="background: rgb(243, 243, 243)"
                    >
                      <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div
          class="row"
          style=" box-shadow: 7px 7px 7px 5px rgb(211, 211, 211);width:80%"
        >
          <div class="card">
            <div class="card-body">
              <img
                src="assets/mandar.png"
                style="float: left; margin: 0px 15px 15px 12px;"
                width="100"
              />

              <h5 class="card-title"><b>Dr.Mandar Badve</b></h5>
              <p class="card-text">
                Assistant Professor<br />Ph.D.-Chemical Engineering, M.Chem.,
                B.E. <br /><a
                  data-toggle="modal"
                  data-target="#myModal6"
                  style="color: rgb(15, 15, 184)"
                  >View Profile</a
                >
              </p>
              <div class="modal fade" id="myModal6" role="dialog">
                <div class="modal-dialog modal-lg" style="margin-top:100px;">
                  <div class="modal-content">
                    <div
                      class="modal-header"
                      style="background: rgb(209, 209, 209)"
                    >
                      <button type="button" class="close" data-dismiss="modal">
                        &times;
                      </button>
                      <h5 class="modal-title" style="color: rgb(3, 3, 78)">
                        <b>Dr.Mandar Badve</b>
                      </h5>
                    </div>
                    <!-- <div class="modal-body"> -->
                    <img
                      src="assets/mandar.png"
                      style="float: left; margin: 5px 15px 15px 12px;"
                      width="100"
                    />
                    <div
                      style="width:auto;height:auto;overflow:scroll;overflow-y:hidden;overflow-x:hidden;"
                    >
                      <p>
                        <label style="padding-right: 10px">Designation:</label
                        >Associate Professor<br />
                        <label style="padding-right: 10px">Qualification:</label
                        >Ph.D.-Chemical Engineering, M.Chem., B.E.<br /><label
                          style="padding-right: 10px"
                          >Email:</label
                        ><a href="mailto:mandarbadve@gmail.com"
                          >mandarbadve@gmail.com</a
                        ><br />
                        Dr. Mandar Badve has recently joined Department of
                        Technology at Savitribai Phule Pune University as DST
                        Inspire Faculty (Assistant Professor equivalent).
                        <br />Before joining the department, he was a
                        postdoctoral research fellow at University of
                        Birmingham, United Kingdom from 2016-2019. <br />
                        His research interest includes advanced oxidation
                        processes for wastewater and drinking water treatment,
                        bioenergy, biofertilizers, multiphase flows, food
                        foams/emulsions and 3D printing. <br />Currently,
                        project positions for suitable candidates are available
                        in the field of foam rheology, wastewater treatment and
                        3D printing of microfluidic devices. <br />If you have
                        excellent skills in experimental work, you like
                        interdisciplinary projects, and you have a strong
                        motivation to learn and improve novel methods, please
                        send your detail CV to Dr Badve by e-mail. <br />List of
                        publications:
                        <a
                          target="_blank"
                          href="https://scholar.google.co.in/citations?user=kj3oMp0AAAAJ&hl=en"
                          >https://scholar.google.co.in/citations?user=kj3oMp0AAAAJ&hl=en</a
                        >
                      </p>
                    </div>
                    <!-- </div> -->
                    <div
                      class="modal-footer"
                      style="background: rgb(243, 243, 243)"
                    >
                      <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
  <br />
  <br />
  <div style="margin-top:50px">
    <h5 style="color:rgb(20, 139, 168)">Visiting Faculty</h5>
    <ul>
      <li>Dr. Mukul Sutawan</li>
      <li>Dr. Vidyadhar Bhate</li>
      <li>Dr. Ravindra Acharya</li>
      <li>Dr. Yogesh Dandawate</li>
      <li>Dr. R. A. Patil</li>
      <li>Dr. Dilip Patil</li>
      <li>Dr. M. J. Rathod</li>
      <li>Dr. Sagar Gokhale</li>
      <li>Dr. Jyoti Gokhale</li>
      <li>Dr. S. M. Chavan</li>
      <li>Dr. Jyotiram Gujar</li>
      <li>Dr. Sachin Deshmukh</li>
    </ul>
  </div>
</div>
