<br />
<br />
<div class="container">
  <form [formGroup]="form" (ngSubmit)="submitForm()" #NewsForm="ngForm">
    <!-- Progress Bar -->
    <h4>Add News and Anouncement</h4>
    <br />
    <!-- Image Preview -->
    <!-- <div class="form-group">
    <div class="preview" *ngIf="preview && preview !== null">
      <img [src]="preview" height="300px" width="300px" [alt]="form.value.name">
    </div>
  </div> -->

    <!-- File Input -->
    <div class="form-group">
      <input type="file" (change)="uploadFile($event)" />
    </div>

    <!-- Name -->
    <div class="form-group">
      <textarea
        class="form-control"
        placeholder="Name"
        rows="6"
        formControlName="name"
        required
      >
      </textarea>
    </div>

    <!-- Submit -->
    <div class="form-group">
      <button
        class="btn btn-primary btn-block"
        type="submit"
        [disabled]="!NewsForm.valid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
