<!-- <meta name="viewport" content="width=device-width, initial-scale=1" />
<body>
  <div class="sidebar container-fluid">
    <img src="assets/profile.png" class="avatar" />
    <li *ngIf="auth.isLoggedIn()">
      <a class="vl" routerLink="/admin"> {{ auth.getUserDetails()?.name }}</a>
    </li>
    <a class="active" routerLink="/admin">Feedback</a>
  
    <a type="button" data-toggle="collapse" data-target="#demo"
      >News & Notification</a
    >
  
    <a type="button" data-toggle="collapse" data-target="#notification1"
      >View Notification</a
    >
    <a type="button" data-toggle="collapse" data-target="#Timetable"
      >Timetable & Syllabus</a
    >
  
    <li *ngIf="auth.isLoggedIn()">
      <a class="vl" routerLink="#" (click)="auth.logout()">Logout</a>
    </li>
  </div>
  <div class="content">
    <div id="demo" class="collapse">
      <app-add-news></app-add-news>
    </div>
    <br />
    <br />
    <div id="notification1" class="collapse">
      <app-newslist></app-newslist>
    </div>
    <h4>Feedbacks</h4>
    <table class="table">
      <thead>
        <tr
          style="background:rgb(253, 253, 190);
          font-size: 15px"
        >
          <th>id</th>
          <th>Name</th>
          <th>Address</th>
          <th>Country</th>
          <th>Details</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="
            let form of forms
              | filter: filter
              | paginate: { itemsPerPage: 5, currentPage: p };
            let i = index
          "
        >
          <td>{{ i + 1 }}</td>
          <td>{{ form.name }}</td>
          <td>{{ form.address }}</td>
          <td>{{ form.country }}</td>
          <td>{{ form.details }}</td>
          <td>
            <p data-placement="top" data-toggle="tooltip" title="Delete">
              <button
                class="btn btn-danger btn-xs"
                (click)="deleteForm(form._id)"
                (click)="refresh()"
                data-title="Delete"
                data-toggle="modal"
              >
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</body> -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<body>
  <div class="sidebar container">
    <br />
    <img src="assets/profile.png" class="avatar" />
    <br />
    <li style="background-color:rgb(117, 231, 121);" *ngIf="auth.isLoggedIn()">
      <a class="vl" routerLink="/admin"> {{ auth.getUserDetails()?.name }}</a>
    </li>
    <!-- <a class="active" routerLink="/addnews">fff</a> -->
    <a type="button" data-toggle="collapse" data-target="#demo2">Feedback</a>
    <a type="button" data-toggle="collapse" data-target="#demo">News</a>
    <a type="button" data-toggle="collapse" data-target="#demo1">View</a>
    <li *ngIf="auth.isLoggedIn()">
      <a class="vl" routerLink="#" (click)="auth.logout()">Logout</a>
    </li>
  </div>
  <div class="content">
    <div id="demo" class="collapse">
      <app-add-news></app-add-news>
    </div>
    <br />
    <br />
    <div id="demo1" class="collapse">
      <app-newslist></app-newslist>
    </div>
    <br />
    <br />
    <!-- <nav class="navbar">
     Search:-<input  type="text" name="search" [(ngModel)]="filter">      
   </nav> -->
    <div id="demo2" class="collapse">
      <div class="container table-responsive">
        <h4 style="color:rgb(2, 2, 90)">Feedbacks</h4>

        <table class="table">
          <thead>
            <tr style="background:rgb(255, 255, 185);font-size: 15px;">
              <th>Id</th>
              <th>Name</th>
              <th>Address</th>
              <th>Country</th>
              <th>Details</th>
              <th>Delete</th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="
                let form of forms
                  | filter: filter
                  | paginate: { itemsPerPage: 5, currentPage: p };
                let i = index
              "
            >
              <td>{{ i + 1 }}</td>
              <td>{{ form.name }}</td>
              <td>{{ form.address }}</td>
              <td>{{ form.country }}</td>
              <td>{{ form.details }}</td>
              <td>
                <p data-placement="top" data-toggle="tooltip" title="Delete">
                  <button
                    class="btn btn-danger btn-xs"
                    (click)="deleteForm(form._id)"
                    (click)="refresh()"
                    data-title="Delete"
                    data-toggle="modal"
                  >
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</body>
