<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<div class="container">
  <h3>News and Anouncement</h3>
  <br />
  <div class="container table-responsive">
    <table class="table">
      <thead>
        <tr style="background:rgb(248, 248, 167);font-size: 17px;">
          <th style="width: 3%">Sr.No</th>
          <th style="width: 92%">Name</th>
          <th style="width: 5%">Download</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let form of Users | filter: filter; let i = index">
          <td style="width: 3%;">{{ i + 1 }}</td>
          <td style="font-size:16px;width: 92%;text-align: left">
            {{ form.name }}
          </td>
          <td style="width: 5%;text-align: center">
            <a [attr.href]="form.avatar" target="_blank" [title]="form.avatar">
              <i class="glyphicon glyphicon-download-alt"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
