
h5 {
  width: 100%;
  font-size: 17px;
  color: rgb(6, 54, 143)
}

h3 {
  /* text-align: center; */
  color: rgb(20, 139, 168);
  border-bottom: 2px solid rgb(98, 152, 196)
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}