<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<br><br>
<body style="padding-top: 20px ;padding-bottom:20px;">
  <div class="containerr">
    <div class="container" style="margin-left:5%;width:95%;">
      <form (ngSubmit)="saveFeedback()" #feedbackForm="ngForm">
        <h3>Feedback Form</h3>
        <p style="border-bottom: 2px solid rgb(8, 69, 119)"></p>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <br />
              <br />
              <label for="Remarks" class="col-lg-4"
                ><label style="color:red">*</label> Name</label
              >
              <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon"
                    ><i class="glyphicon glyphicon-user"></i
                  ></span>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Name"
                    name="Name"
                    [(ngModel)]="form.name"
                    [ngModelOptions]="{ standalone: true }"
                    #Name="ngModel"
                    required
                    pattern="[a-zA-Z]*"
                    minlength="4"
                  />
                </div>

                <div
                  *ngIf="Name.invalid && Name.touched"
                  style="font-size:13px;color:red"
                  class="radius has-tip tip-top"
                >
                  <div *ngIf="Name.errors.required">Name is required</div>
                  <div *ngIf="Name.errors.minlength">Required minlength 4</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="Remarks" class="col-lg-4"
                ><label style="color:red">*</label> Address</label
              >
              <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon"
                    ><i class="glyphicon glyphicon-home"></i
                  ></span>

                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Address"
                    name="Address"
                    [(ngModel)]="form.address"
                    [ngModelOptions]="{ standalone: true }"
                    #Address="ngModel"
                    required
                    pattern="[a-zA-Z]*"
                    minlength="4"
                  />
                </div>

                <div
                  *ngIf="Address.invalid && Address.touched"
                  style="font-size:13px;color:red"
                  class="radius has-tip tip-top"
                >
                  <div *ngIf="Address.errors.required">Address is Required</div>
                  <div *ngIf="Address.errors.minlength">
                    Required minlength 4
                  </div>
                  <!-- <div *ngIf="Remark.errors.pattern">Contact Number is Not Valid </div> -->
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="name" class="col-lg-4"
                ><label style="color:red">*</label> Country</label
              >
              <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon"
                    ><i class="glyphicon glyphicon-flag"></i
                  ></span>

                  <select
                    class="form-control"
                    name="examyear"
                    [(ngModel)]="form.country"
                    required
                  >
                    <option>Select Country</option>
                    <option>Afghanistan </option>
                    <option>Albania</option>
                    <option>Algeria</option>
                    <option>Andorra</option>
                    <option>Angola</option>
                    <option>Antigua and Barbuda</option>
                    <option>Argentina</option>
                    <option>Armenia</option>
                    <option>Australia</option>
                    <option>Austria</option>
                    <option>Azerbaijan</option>
                    <option> The Bahamas</option>
                    <option>Bahrain</option>
                    <option>Bangladesh</option>
                    <option> Barbados</option>
                    <option>Belarus</option>
                    <option> Belgium</option>
                    <option> Belize</option>
                    <option> Benin</option>
                    <option> Bhutan</option>
                    <option> Bolivia</option>
                    <option>Bosnia and Herzegovina</option>
                    <option> Botswana</option>
                    <option> Brazil</option>
                    <option>Brunei</option>
                    <option>Bulgaria</option>
                    <option>Burkina Faso</option>
                    <option>Burundi</option>
                    <option>Cabo Verde</option>
                    <option>Cambodia</option>
                    <option>Cameroon</option>
                    <option>Canada</option>
                    <option>Central African Republic</option>
                    <option> Chad</option>
                    <option>Chile</option>
                    <option>China</option>
                    <option> Colombia</option>
                    <option>Comoros</option>
                    <option>Congo, Democratic Republic of the</option>
                    <option>Congo, Republic of the</option>
                    <option>Costa Rica</option>
                    <option> Côte d’Ivoire</option>
                    <option>Croatia</option>
                    <option>Cuba</option>
                    <option> Cyprus</option>
                    <option> Czech Republic</option>
                    <option> Denmark</option>
                    <option> Djibouti</option>
                    <option>Dominica</option>
                    <option>Dominican Republic</option>
                    <option>East Timor (Timor-Leste)</option>
                    <option> Ecuador</option>
                    <option>Egypt</option>
                    <option>El Salvador</option>
                    <option> Equatorial Guinea</option>
                    <option> Eritrea</option>
                    <option>Estonia</option>
                    <option>Eswatini</option>
                    <option>Ethiopia</option>
                    <option>Fiji</option>
                    <option>Finland</option>
                    <option>France</option>
                    <option>Gabon</option>
                    <option>The Gambia</option>
                    <option>Georgia</option>
                    <option>Germany</option>
                    <option>Ghana</option>
                    <option>Greece</option>
                    <option>Grenada</option>
                    <option>Guatemala</option>
                    <option>Guinea</option>
                    <option>Guinea-Bissau</option>
                    <option>Guyana</option>
                    <option>Haiti</option>
                    <option>Honduras</option>
                    <option>Hungary</option>
                    <option>Iceland</option>
                    <option>India</option>
                    <option>Indonesia</option>
                    <option>Iran</option>
                    <option>Iraq</option>
                    <option>Ireland</option>
                    <option>Israel</option>
                    <option>Italy</option>
                    <option>Jamaica</option>
                    <option>Japan</option>
                    <option>Jordan</option>
                    <option>Kazakhstan</option>
                    <option>Kenya</option>
                    <option>Kiribati</option>
                    <option>Korea,North</option>
                    <option>Korea,South</option>
                    <option>Kosovo</option>
                    <option>Kuwait</option>
                    <option>Kyrgyzstan</option>
                    <option>Laos</option>
                    <option>Latvia</option>
                    <option>Lebanon</option>
                    <option>Lesotho</option>
                    <option>Liberia</option>
                    <option>Libya</option>
                    <option>Liechtenstein</option>
                    <option>Lithuania</option>
                    <option>Luxembourg</option>
                    <option>Madagascar</option>
                    <option>Malawi</option>
                    <option>Malaysia</option>
                    <option>Maldives</option>
                    <option>Mali</option>
                    <option>Malta</option>
                    <option>Marshall Islands</option>
                    <option>Mauritania</option>
                    <option>Mauritius</option>
                    <option>Mexico</option>
                    <option>Micronesia, Federated States of</option>
                    <option>Moldova</option>
                    <option>Monaco</option>
                    <option>Mongolia</option>
                    <option>Montenegro</option>
                    <option>Morocco</option>
                    <option>Mozambique</option>
                    <option>Myanmar (Burma)</option>
                    <option>Namibia</option>
                    <option>Nauru</option>
                    <option>Nepal</option>
                    <option>Netherlands</option>
                    <option>New Zealand</option>
                    <option>Nicaragua</option>
                    <option>Niger</option>
                    <option>Nigeria</option>
                    <option>North Macedonia</option>
                    <option>Norway</option>
                    <option>Oman</option>
                    <option>Pakistan</option>
                    <option>Palau</option>
                    <option>Panama</option>
                    <option>Papua New Guinea</option>
                    <option>Paraguay</option>
                    <option>Peru</option>
                    <option>Philippines</option>
                    <option>Poland</option>
                    <option>Portugal</option>
                    <option>Qatar</option>
                    <option>Romania</option>
                    <option>Russia</option>
                    <option>Rwanda</option>
                    <option>Saint Kitts and Nevis</option>
                    <option>Saint Lucia</option>
                    <option>Saint Vincent and the Grenadines</option>
                    <option>Samoa</option>
                    <option>San Marino</option>
                    <option>Sao Tome and Principe</option>
                    <option>Saudi Arabia</option>
                    <option>Senegal</option>
                    <option>Serbia</option>
                    <option>Seychelles</option>
                    <option>Sierra Leone</option>
                    <option>Singapore</option>
                    <option>Slovakia</option>
                    <option>Slovenia</option>
                    <option>Solomon Islands</option>
                    <option>Somalia</option>
                    <option>South Africa</option>
                    <option>Spain</option>
                    <option>Sri Lanka</option>
                    <option>Sudan</option>
                    <option>Sudan,South</option>
                    <option>Suriname</option>
                    <option>Sweden</option>
                    <option>Switzerland</option>
                    <option>Syria</option>
                    <option>Taiwan</option>
                    <option>Tajikistan</option>
                    <option>Tanzania</option>
                    <option>Thailand</option>
                    <option>Togo</option>
                    <option>Tonga</option>
                    <option>Trinidad and Tobago</option>
                    <option>Tunisia</option>
                    <option>Turkey</option>
                    <option>Turkmenistan</option>
                    <option>Tuvalu</option>
                    <option>Uganda</option>
                    <option>Ukraine</option>
                    <option>United Arab Emirates</option>
                    <option>United Kingdom</option>
                    <option>United States</option>
                    <option>Uruguay</option>
                    <option>Uzbekistan</option>
                    <option>Vanuatu</option>
                    <option>Vatican City</option>
                    <option>Venezuela</option>
                    <option>Vietnam</option>
                    <option>Yemen</option>
                    <option>Zambia</option>
                    <option>Zimbabwe</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="Remarks" class="col-lg-4"
                ><label style="color:red">*</label> Email</label
              >
              <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon"
                    ><i class="glyphicon glyphicon-envelope"></i
                  ></span>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Email"
                    name="Email"
                    [(ngModel)]="form.email"
                    [ngModelOptions]="{ standalone: true }"
                    #Email="ngModel"
                    required
                  />
                </div>

                <div
                  *ngIf="Email.invalid && Email.touched"
                  style="font-size:13px;color:red"
                  class="radius has-tip tip-top"
                >
                  <div *ngIf="Email.errors.required">Email is Required</div>

                  <!-- <div *ngIf="Remark.errors.pattern">Contact Number is Not Valid </div> -->
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="Remarks" class="col-lg-4"
                ><label style="color:red">*</label> Phone No</label
              >
              <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon"
                    ><i class="glyphicon glyphicon-earphone"></i
                  ></span>

                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Phone No"
                    name="Contact"
                    [(ngModel)]="form.contact"
                    [ngModelOptions]="{ standalone: true }"
                    #Contact="ngModel"
                    required
                    pattern="[0-9]*"
                    minlength="10"
                    maxlength="10"
                  />
                  <div
                    *ngIf="Contact.invalid && Contact.touched"
                    style="font-size:13px;color:red"
                    class="radius has-tip tip-top"
                  >
                    <div *ngIf="Contact.errors.required">
                      Contact Number is Required
                    </div>
                    <div *ngIf="Contact.errors.minlength">
                      Required minlength 10
                    </div>
                    <div *ngIf="Contact.errors.pattern">
                      Contact Number is Not Valid
                    </div>
                  </div>
                </div>
                <br />
                <div class="input-group">
                  <span class="input-group-addon"
                    ><i class="glyphicon glyphicon-earphone"></i
                  ></span>

                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Alternate Phone No"
                    name="AlterNo"
                    [(ngModel)]="form.altercontact"
                    [ngModelOptions]="{ standalone: true }"
                    #AlterNo="ngModel"
                    pattern="[0-9]*"
                    minlength="10"
                    maxlength="10"
                  />
                  <div
                    *ngIf="AlterNo.invalid && AlterNo.touched"
                    style="font-size:13px;color:red"
                    class="radius has-tip tip-top"
                  >
                    <div *ngIf="AlterNo.errors.minlength">
                      Required minlength 10
                    </div>
                    <div *ngIf="AlterNo.errors.pattern">
                      Contact Number is Not Valid
                    </div>
                  </div>
                </div>
             
              </div>
            </div>

            <div class="form-group row">
              <label for="Remarks" class="col-lg-4">Fax No</label>
              <div class="col-lg-6">
                <div class="input-group">
                  <span class="input-group-addon"
                    ><i class="glyphicon glyphicon-phone-alt"></i
                  ></span>

                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Fax No"
                    name="Faxno"
                    [(ngModel)]="form.faxno"
                    [ngModelOptions]="{ standalone: true }"
                    #Faxno="ngModel"
                    pattern="[0-9]*"
                    minlength="8"
                  />
                  <div
                    *ngIf="Faxno.invalid && Faxno.touched"
                    style="font-size:13px;color:red"
                    class="radius has-tip tip-top"
                  >
                    <div *ngIf="Faxno.errors.required">
                      Fax Number is Required
                    </div>
                    <div *ngIf="Faxno.errors.minlength">
                      Required minlength 8
                    </div>
                    <div *ngIf="Faxno.errors.pattern">
                      FAX Number is Not Valid
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-4"
                ><label style="color:red">*</label> Feedback Details</label
              >
              <div class="col-lg-6">
                <textarea
                  class="form-control"
                  name="details"
                  placeholder="Your Feedback*"
                  style="width: 100%; height: 90px;"
                  [(ngModel)]="form.details"
                  #details="ngModel"
                  [ngModelOptions]="{ standalone: true }"
                  required
                >
                </textarea>

                <div
                  *ngIf="details.invalid && details.touched"
                  style="font-size:13px;color:red"
                  class="radius has-tip tip-top"
                >
                  <div *ngIf="details.errors.required">
                    Feedback Details is Required
                  </div>
                  <!-- <div *ngIf="details.errors.minlength">Required minlength 4</div> -->
                </div>
              </div>
            </div>
            <div style=" margin-left:12%">
              <button
                id="singlebutton"
                class="button button4"
                type="submit"
                [disabled]="!feedbackForm.valid"
              >
                Submit
              </button>
              &nbsp;&nbsp;&nbsp;

              <button
                id="singlebutton"
                class="button button4"
                type="reset"
                (Click)="cancel()"
              >
                Reset
              </button>
              <br />
              <br />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
