

body {

    background: url('/assets/main.jpg');
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    
    /* height: 100vh; */
  }
  
  .containerr {

    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    
  }
  
  .containerr:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
  }
  
  
  
  h3{
    text-align:left;
    color: rgb(10, 10, 141);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  
  .button {
    background-color:rgb(26,161,193); /* Green */
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:100px;
    cursor: pointer;
  }
  
  .button4 {border-radius: 15px;}
  
  pp{
      color:red;
  }