.carousel-inner img {
  width: 70%; 
  margin: auto;
  height:650px;
}

@media (max-width: 600px) {
  .carousel-inner img {
   width: 100%; 
   height:650px;
}
}

#myCarousel .textBox {
  float: right;
  margin: auto;
  width: 30%;
  background:rgb(206, 255, 243);
  height: 650px;
}

@media (max-width: 600px){
  #myCarousel .textBox {
    /* float: right; */
    width: 100%;
    height: 650px;
  }
  }

  #myCarousel .innerContent{
    width: 100%;
    height: 650px;
  }

@media (max-width: 480px){
#myCarousel .innerContent {
  width: 100%;
  height: 650px;
}
}

h1{
  text-align: center;
  font-size: 37px;
}

.im{
  text-align:center;
  width:20px;
  height:20px;
}

