<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="assets/main.jpg" style="display:inline-block;" />
        <div class="textBox">
          <div class="textContent">
            <div class="innerContent">
              <h4 style="text-align:center;padding-top: 10px">Welcome To</h4>
              <h4 style="text-align:center">Department of Technology</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="assets/uni2.jpg" style="display:inline-block;" />
        <div class="textBox">
          <div class="textContent">
            <div class="innerContent">
              <h4 style="text-align:center;padding-top: 10px">Welcome To</h4>
              <h4 style="text-align:center">Department of Technology</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="right carousel-control"
      href="#myCarousel"
      data-slide="next"
      role="button"
    >
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
