.profile-picture {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 4px;
  display: inline-block;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.body {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Segoe UI";
}

.back {
  background-color: rgb(162, 147, 235);
}
