<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<div class="container" style="background-color:rgb(162, 147, 235);">
  <div class="row">
    <div style="padding-top:20px;">
      <div class="col-md-6" style="align-content: center">
        <h2 class="form-signin-heading">Your Profile</h2>
        <br />

        <div class="form-horizontal">
          <div class="form-group">
            <label for="Name" class="col-lg-4">FullName:</label>
            <div class="form-control-static">{{ details?.name }}</div>
          </div>
          <div class="form-group">
            <label for="Email" class="col-lg-4">Email:</label>
            <div class="form-control-static">{{ details?.email }}</div>
          </div>

          <div class="form-group">
            <label class="col-lg-4">
              <a routerLink="/forms"
                ><button class="btn btn-primary">View Form</button></a
              >
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
