<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<div class="container table-responsive">
  <h4 style="color:rgb(2, 2, 90)">View News</h4>

  <table class="table">
    <thead>
      <tr style="background:rgb(253, 253, 190);font-size: 15px;">
        <th>Id</th>
        <th>Name</th>
        <th>Download</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="
          let form of Users
            | filter: filter
            | paginate: { itemsPerPage: 5, currentPage: p };
          let i = index
        "
      >
       <td style="width: 3%;">{{i+1}}</td> 
        <td style="font-size:16px;width: 92%;text-align: left"> {{form.name}} </td> 
        <td style="width: 5%;text-align: center">
          <a [attr.href]="form.avatar" target="_blank" [title]="form.avatar">
            <i class="glyphicon glyphicon-download-alt"></i>
          </a></td>

        <td>
          <p data-placement="top" data-toggle="tooltip" title="Delete">
            <button
              class="btn btn-danger btn-xs"
              (click)="deleteNews(form, i)"
              data-title="Delete"
              data-toggle="modal"
            >
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
