h3,
h4 {
  text-align: left;
  color: rgb(8, 83, 129);
}

	/* .blink{
		width:200px;
		height: 50px;
	    background-color: magenta;
		padding: 15px;	
		text-align: center;
		line-height: 50px;
	}
	span{
		font-size: 8px;
		font-family: cursive;
		color: white;
		animation: blink 1s linear infinite;
	}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
} */