<div class="container">
  <marquee
    onmouseover="this.stop();"
    onmouseout="this.start();"
    direction="left"
    speed="slow"
  >
    <a routerLink="/news">
      <h4 style="font-size:15px">
        <i class="material-icons" style="font-size:20px">announcement</i>
        News and Announcement
      </h4>
    </a>
  </marquee>
</div>
