.con {
  padding: 2px;
  background-color: honeydew;
  height: 997px;
  position: relative;
}

h3 {
  margin-bottom: 5%;
  margin-top: 3%;
  text-align: center;
  color: #0062cc;
}

body {
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: "Segoe UI";
}

.back {
  background-color: lightgray;
  font-family: "Segoe UI;width:75%;padding-bottom:20px;padding-top:20px";
}
