<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div class="container back">
    <!--background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuSnYAg4D2zReThTldx7Kf2wFj_P70o9ppi28lyck4jWI3ai9YoA"-->
    <div class="row">
      <div class="col-md-6">
        <h1>Register</h1>
        <p class="lead">
          Already a member? Please
          <i><a routerLink="/login">log in</a></i> instead.
        </p>
        <form (ngSubmit)="register()" #userForm="ngForm" novalidate>
          <div class="form-group">
            <label for="name">Username</label>
            <input
              type="text"
              class="form-control"
              name="NameOfInstitute"
              placeholder="Enter your name"
              [(ngModel)]="credentials.name"
              [ngModelOptions]="{ standalone: true }"
              #NameOfInstitute="ngModel"
              aria-haspopup="true"
              title=" Enter valid name"
              required
              pattern="[a-zA-Z ]*"
              minlength="4"
            />
            <div
              *ngIf="NameOfInstitute.invalid && NameOfInstitute.touched"
              style="font-size:13px;color:red"
              class="radius has-tip tip-top"
            >
              <div *ngIf="NameOfInstitute.errors.required">
                Name is Required
              </div>
              <div *ngIf="NameOfInstitute.errors.pattern">
                Name is Not Valid
              </div>
              <div *ngIf="NameOfInstitute.errors.minlength">
                Name length must be greater than 8
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email Id</label>
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Enter email"
              [(ngModel)]="credentials.email"
              #Email="ngModel"
              aria-haspopup="true"
              title=" Enter valid email id"
              required
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            />
            <div
              *ngIf="Email.invalid && Email.touched"
              style="font-size:13px;color:red"
              class="radius has-tip tip-top"
            >
              <div *ngIf="Email.errors.required">Email is Required</div>
              <div *ngIf="Email.errors.pattern">
                Email not valid and format should be<i>eg. abc@gmail.com</i>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <!-- <show-hide-password  size="sm" [btnOutline]="false"> -->
            <input
              type="password"
              class="form-control"
              name="Pass"
              placeholder="Password"
              [(ngModel)]="credentials.password"
              [ngModelOptions]="{ standalone: true }"
              #Pass="ngModel"
              aria-haspopup="true"
              title=" password must be atleast 6 characters"
              passwordToggle
              required
              pattern="[a-zA-Z0-9]*"
              minlength="6"
            />

            <!-- </show-hide-password>  -->
            <div
              *ngIf="Pass.invalid && Pass.touched"
              style="font-size:13px;color:red"
              class="radius has-tip tip-top"
            >
              <div *ngIf="Pass.errors.required">Password is Required</div>
              <div *ngIf="Pass.errors.pattern">Password is Not Valid</div>
              <div *ngIf="Pass.errors.minlength">
                Length must be greater than 6
              </div>
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!userForm.form.valid"
          >
            Register
          </button>
          <br />
          <br />
        </form>
      </div>
    </div>
  </div>
</body>

<!-- <app-footer></app-footer> -->
